body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
}
#header-container {
  background-image: url(images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  padding: 5%;
  width: 50%;
}
h1 {
  font-size: 40px;
  color: grey;
}
.content h1 span {
  color: tomato;
}
p {
  font-size: 20px;
  color: gray;
  padding-bottom: 2%;
}
.button {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 1.5% 3%;
  border-radius: 25px;
}
#about-me-container .content img {
  height: 400px;
}
#about-me-container {
  background-image: url(images/about-me-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
}
.recipies-item {
  width: 40%;
  margin: 2% 2% 2% 4%;
  padding: 1%;
  box-shadow: 16px 10px 40px gray;
  border-radius: 20px;
}
.recipies-item h1,
p {
  text-align: left;
  color: black;
}
.recipies-item img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}
#count {
  width: 85%;
  margin: 30px auto;
  box-shadow: 20px 20px 40px grey;
  border-radius: 25px;
}
.count-content {
  padding: 0 5%;
}
.count-content h2 {
  text-align: center;
}
