body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.container {
  display: flex;
}
#header-container {
  background-image: url(images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  padding: 5%;
  width: 50%;
}
h1 {
  font-size: 40px;
  color: grey;
}
.content h1 span {
  color: tomato;
}
p {
  font-size: 20px;
  color: gray;
  padding-bottom: 2%;
}
.button {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 1.5% 3%;
  border-radius: 25px;
}
#about-me-container .content img {
  height: 400px;
}
#about-me-container {
  background-image: url(images/about-me-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#my-recipies-container h1,
p {
  text-align: center;
}
